:javascript
  var numpad_value;
  
  function reset_numpad(){
    numpad_value = new Array();  
  }
  
  
  function display_numpad(){
    var d = new Array();
    for (i=numpad_value.length -1;i>=0;i--){
      d.push(numpad_value[i]);
    }    
    for (i=0; i< 6-numpad_value.length;i++){
      d.push("0");
    }
   return "" + d[5] + d[4] + ":" + d[3] + d[2] + ":" + d[1] + d[0]
  }
  
  function add_value_to_numpad(val){
    if (jQuery.trim(val) == 'ENTER'){
      alert(display_numpad());
    }else{
      numpad_value.push(val.trim())
      if (numpad_value.length > 6){
        reset_numpad();
      }
    }
    $('#display').html(display_numpad());
  }
  
  $(function(){
    reset_numpad();
    $(".numpad .key").click(function(){
      add_value_to_numpad($(this).html())
    });    
  });


%table.numpad_display{:border => 1}
  %tr
    %td
      #display
        00:00:00
%br
%table.numpad{:cellpadding => 10, :border => 1}
  %tr
    %td.key
      6
    %td.key
      7
    %td.key
      8
    %td.key
      9
  %tr
    %td.key
      2
    %td.key
      3
    %td.key
      4
    %td.key
      5
  %tr
    %td.key
      1
    %td.key
      0
    %td.key{:colspan => 2}
      ENTER
      