:javascript

  var length = 360;
  var countdown_params = {until: length, compact: true, format: 'HMS', onExpiry: expired}
  var numpad_value = [6,0,0];
  
  function reset_numpad(){
    numpad_value = new Array();  
  }
  
  
  function display_numpad(){
    var d = new Array();
    for (i=numpad_value.length -1;i>=0;i--){
      d.push(numpad_value[i]);
    }    
    for (i=0; i< 6-numpad_value.length;i++){
      d.push("0");
    }
   return "" + d[5] + d[4] + ":" + d[3] + d[2] + ":" + d[1] + d[0]
  }
  
  function integer_seconds(){
     var d = new Array();
     for (i=numpad_value.length -1;i>=0;i--){
       d.push(numpad_value[i]);
     }    
     for (i=0; i< 6-numpad_value.length;i++){
       d.push("0");
     }
    return parseInt(d[5] + d[4]) * 60 * 60  + parseInt(d[3] + d[2]) * 60  + parseInt(d[1] + d[0])
  }
  
  function add_value_to_numpad(val){
    if (jQuery.trim(val) == 'ENTER'){
      new_countdown($('#countdown'));
      $('#controll_buttons').show(); 
      $('.numpad').hide()      
    }else if (jQuery.trim(val) == 'CLEAR'){
      reset_numpad();
    }else{
      numpad_value.push(jQuery.trim(val))
      if (numpad_value.length > 6){
        reset_numpad();
      }
    }
    $('#countdown').html(display_numpad());
  }  
  
  
  
  function new_countdown(target){
    stop_alarm();
    target.countdown('destroy');
    countdown_params.until = integer_seconds();
    target.countdown(countdown_params);
    $('#event_name').val('');
    $('#name').hide();
    $('#name_input').show();
    $('#event_length').val(countdown_params.until);
    $('#start_button').show();
    $('#pause_button').hide();
    $('#finish_button').hide();
    $('#reset_button').hide();   
    $('#more_time_button').hide();
    $('#event_id').val('');    
    $('#event_state').val('');        
    $('#change_time').show(); 
  }

  function update(data){
     $.ajax({
          url: "events/" + $('#event_id').val(),
          type: "PUT",
          dataType: 'json',        
          data:  $('#event').serialize()
      });    
  }
  
  function stop_alarm(){
    $('embed').remove();
  }
  
  function sound_alarm(){
    $('#alarm').append("<embed src='audio/alarm_bell.wav' autostart='true' hidden='true' loop='3' playcount='3'> ");
  }

  function expired(){
    sound_alarm();    
    $('#event_state').val('expired');
    update();
    $('#more_time_button').show();
    $('#reset_button').hide();
    $('#pause_button').hide();
    $('#start_button').hide();
  }

  function pause(target){
    target.countdown('pause'); 
    $('#start_button').show();
    $('#pause_button').hide();     
  }
  
  function finish(target){
    $('#event_state').val('did_it');    
    update();             
    new_countdown($('#countdown'));       
  }
  
  function start(target){   
    target.countdown('resume');
    $('#event_name').val($('#name_input').val());
    $('#name').html($('#name_input').val());    
    $('#name').show();
    $('#name_input').hide();
    if ($('#event_id').val() == ""){  
      // this code is used to resume pause too.
      $.ajax({
          url: "#{events_path}",
          type: "POST",
          dataType: 'json',        
          data:  $('#event').serialize(),
          success:    function(request){ $('#event_id').val(request.event.id) },        
      });      
    }      
    $('#change_time').hide();
    $('#start_button').hide();
    $('#reset_button').show();
    $('#pause_button').show();    
    $('#finish_button').show();        
  }  
  
  function resume(target){
    target.countdown('resume');  
    $('#start_button').hide();
    $('#pause_button').show();    
  }
  
  function more_time(target){
    $('#event_state').val('more_time');   
    update();         
    new_countdown($('#countdown'));   
    start(target); 
  }
  
  function reset(target){    
    $('#event_state').val('start_again');   
    update();         
    new_countdown($('#countdown'));   
  }  
  
  function select_all(element){
      element.focus();
      element.select();
  }  
  
  $(function(){
    $(".numpad .key").click(function(){
      add_value_to_numpad($(this).html())
    });    
    new_countdown($('#countdown'));
  });

%center
  %table
    %tbody
      %tr
        %td{:height => 50, :align => 'center'}
          -params[:event] ||= {}
          -params[:event][:name] ||= ""
          =text_field_tag 'name_input', params[:event][:name], :onclick => "select_all($(this));"
          %h1
            #name      
      %tr
        %td{:align => 'center', :width => 300}

          -form_tag '', :id => 'event' do |f|
            =hidden_field_tag 'event[name]'
            =hidden_field_tag 'event[id]'
            =hidden_field_tag 'event[state]'
            =hidden_field_tag 'event[length]'
            =render :partial => 'shared/counter'
            %br
            %table.numpad{:cellpadding => 10, :border => 1, :style => 'display:none'}
              %tr
                %td.key
                  6
                %td.key
                  7
                %td.key
                  8
                %td.key
                  9
              %tr
                %td.key
                  2
                %td.key
                  3
                %td.key
                  4
                %td.key
                  5
              %tr
                %td.key
                  1
                %td.key
                  0
                %td.key{:colspan => 2}
                  CLEAR
              %tr
                %td.key{:colspan => 4}
                  ENTER
          
            #alarm
          
          
      %tr
        %td{:align => 'center'}
          %center
            %table{:border => 0, :cellpadding => 0, :cellspacing => 0}
              %tr
                %td
                  #controll_buttons
                    =button_to_function 'Start', "start($('#countdown'))", :id => 'start_button', :class => "btn green left_float"
                    =link_to "change time", nil, :onclick => "$('#controll_buttons').hide(); $(this).hide();$('.numpad').show();return false;", :id => "change_time", :class => 'btn blue left_float'            
                    =button_to_function 'Break', "pause($('#countdown'))", :id => 'pause_button', :style => 'display:none', :class => "btn yellow left_float"               
                    =button_to_function "Start Again", "reset($('#countdown'))", :id => 'reset_button', :style => 'display:none', :class => "btn red left_float"
                    =button_to_function 'Still Doing It', "more_time($('#countdown'))", :id => 'more_time_button', :style => 'display:none', :class => "btn blue left_float"
                    =button_to_function 'Did It', "finish($('#countdown'))", :id => 'finish_button', :style => 'display:none', :class => "btn green left_float"
                
        