%fieldset
  %ul
    %li.form-field.required
      = form.label :name
      = form.text_field :name, :maxlength=> 50
  
    %li.form-field.required
      = form.label :description
      = form.text_area :description