%h1
  New Project
  
-form_for @project, :builder => SixminutesFormBuilder do |f|
  =f.error_messages
  =render :partial => 'form', :object => f
  =f.submit 'Update', :class => 'btn blue'
  =link_to 'Cancel', project_path(@project)