%h2
  Projects
%br  
=link_to 'Create a new project', new_project_path
%br
%br
%table.data.zebra-striped
  %thead
    %tr
      %th
        ID
      %th
        Name
      %th
        Created At
  %tbody
    -@projects.each do |tp|
      %tr
        %td
          =tp.id
        %td
          =tp.name
        %td
          =tp.created_at.try(:to_formatted_s,:short)

