:javascript
  $(function(){
    $('.draggable').tableDnD({
    	    onDragClass: "drag",
    	    onDrop: function(table, row) {},
    		  onDragStart: function(table, row) {}
    	});
  });

%h1
  ="Project: #{@project.name}"
%br
.span{:style => 'white-space:nowrap'}
  %h2{:style => 'float:left'}
    Tasks
  &nbsp;
  &nbsp;
  =link_to "Create a new project task", new_project_task_path(@project), :class => 'btn green'

%table.data.draggable
  %thead
    %tr
      %th
        Doittoit
      %th
        ID
      %th
        Name
      %th
        Status
      %th
        Time Estimate
      %th
        Actions
  %tbody
    -counter = 0
    -@project.tasks.each do |t|
      -counter += 1
      %tr{:id => "#{counter}"}
        %td
          =link_to(image_tag('doittoit.jpg', :height => 20), new_project_task_event_path(@project, t))
        %td
          =t.id
        %td
          =t.name
        %td
          =t.status
        %td
          =t.time_estimate
        %td
          =link_to 'Edit', edit_project_task_path(@project, t)
          |
          =delete_link(project_task_path(@project, t))