%h1
  ="Project: #{@project.name}"
%br
.span{:style => 'white-space:nowrap'}
  %h2{:style => 'float:left'}
    Tasks
  &nbsp;
  &nbsp;
  =link_to "Create a new project task", new_project_task_path(@project), :class => 'btn green'

%table.data
  %thead
    %tr
      %th
        ID
      %th
        Name
      %th
        Status
      %th
        Time Estimate
      %th
        Doittoit
  %tbody
    -@project.tasks.each do |t|
      %tr
        %td
          =t.id
        %td
          =t.name
        %td
          =t.status
        %td
          =t.time_estimate
        %td
          =image_tag('doittoit.jpg', :height => 20)
          &nbsp;|&nbsp;
          =delete_link(project_task_path(@project, t))